[submodule "external/gtalc-dinput8"]
	path = external/gtalc-dinput8
	url = https://github.com/spaceeinstein/gtalc-dinput8
[submodule "external/III.VC.CLEO"]
	path = external/III.VC.CLEO
	url = https://github.com/cleolibrary/III.VC.CLEO
